.box{
	padding-left:20px;
	padding-bottom:10px;
	width:40%;
	border: 2px solid black;
}
button{
	  background: #ffbe7d;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 5px;
  border-radius: 5px;
  display:block;
  width:15%;
}
button:hover {
    cursor:pointer;
    background: #ff7514;
  } 
  @media screen and (min-width: 600px) {
   .bottone {
      display: inline-block;
      width:auto;
    }
}